@font-face {
    font-family: "NewYork";
    src: url("fonts/NewYork.otf");
}

@font-face {
    font-family: "SourceSansPro";
    src: url("fonts/SourceSansPro-Regular.ttf");
}

.outer {
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 74px - 50px);
    background: rgba(242, 137, 114, 0.1);
}

h1 .navbar-brand {
    font-family: "NewYork", serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

nav .avatar {
    width: 30px;
}

.btn-gradient {
    color: white;
    background: rgb(54, 25, 115);
    background: linear-gradient( 351deg, rgba(54, 25, 115, 1) 37%, rgba(172, 92, 207, 1) 87%);
    border: none;
}

.btn-gradient:hover {
    color: white;
    background: rgb(172, 92, 207);
    background: linear-gradient( 351deg, rgba(172, 92, 207, 1) 37%, rgba(54, 25, 115, 1) 87%);
}

p .btn {
    vertical-align: unset;
    text-decoration: underline;
}

.card.publicaciones {
    background-color: rgba(242, 166, 73, 0.5);
    font-family: "SourceSansPro", sans-serif;
    max-width: 50rem;
    margin: auto;
}

.btn.boton-publicar {
    color: white;
    width: 60%;
    border-radius: 20px;
    /* margin-top: -1em; */
}

body footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 137, 114);
    color: #000;
    margin-top: auto;
}

body footer p {
    margin: 0;
    text-align: center;
}

body textarea {
    border-radius: 10px;
    margin-top: -1.5em;
    min-height: 64px;
}

@media screen and (min-width: 576px) {
    body textarea {
        min-height: auto;
    }
}

/*
 |--------------------------------------------------------------------------
 | Loader
 |--------------------------------------------------------------------------
 */

.outer-loader {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
}

.loader {
    --size-square: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader::before, .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: var(--size-square);
    height: var(--size-square);
    background-color: rgb(135, 40, 175);
}

.loader::before {
    top: calc(50% - var(--size-square));
    left: calc(50% - var(--size-square));
    animation: loader-prev 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loader::after {
    top: 50%;
    left: 50%;
    animation: loader 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-prev {
    0%, 100% {
        transform: none;
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    75% {
        transform: translateY(100%);
    }
}

@keyframes loader {
    0%, 100% {
        transform: none;
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%) translateY(-100%);
    }
    75% {
        transform: translateY(-100%);
    }
}